.image1{
    width: 45rem;
    height: 30rem;
    border-radius: 20px;
}
.text1{
    color: green;

}
.sliderhead{
    text-align: center;
    color: green;
   
}
.slider{
   
   height: 400px;
   width: 100%;
}

.scrollimg{
    margin: auto;
    display: flex;
    align-items: center;
}
.scroll nav-link{
    background-color: green;
}
.scrbdy2{
    
    background-color: beige;
     height:fit-content; 
     border-radius:20px;
}
.endbdy{
    text-align: center;
}